{% extends 'backend/base.html' %}

{% block title %} 
{% if product.pk %}
    Update Product 
{% else %}
    Create Product 
{% endif %}
{% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    {% if product.pk %}
    <h1 class="h3 mb-0 text-gray-800">Update Product</h1>
    {% else %}
    <h1 class="h3 mb-0 text-gray-800">Create Product</h1>

    {% endif %}
        <a href="{% url 'product:create.product' %}" class="float-right btn btn-primary">All Product</a>
    </div>


    <script>
    var varients = {{ variants|safe }}
    console.log(typeof varients)
    </script>

    {% if product.pk %}
        <div id="root">
            <CreateProduct id="variants" data-product_id="{{product.id}}" data-variants="{{ update|safe }}"></CreateProduct>
        </div>
    {% else %}
        <div id="root">
            <CreateProduct id="variants" data-variants="{{ variants|safe }}"></CreateProduct>
        </div>
    {% endif %}


{% endblock %}